<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Not found!</h1>
    <p>Could not find the resource!</p>
    <p><a href="/">back to safe place</a></p>
  </main>
</body>
</html>